body {
    background-color: lightyellow;
    font-family: th sarabun, sans-serif;
    text-align: center;
    margin-top: 16%; 
    color: lightyellow;
}

.card {
    padding: 50px;
    background-color: rgb(55, 69, 55);
    height: 300px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

a {
    color: lightyellow;
    margin-top: 30px;
}

.seccard {
    margin-top: 40px;
    font-size: 30px;
    color: rgb(55, 69, 55);
    background-color: lightyellow;
    border-radius: 15px;
}

.text {
    padding: 30px;
    font-size: 25px;
    color: rgb(55, 69, 55);
}

.back {
    margin-top: 30px;
    font-size: 20px;
    color: lightyellow;
}